@font-face {
  font-family: "DmSansBold";
  src: url("/src/assets/fonts/DMSans-Bold.ttf");
}

@font-face {
  font-family: "DmSansLight";
  src: url("/src/assets/fonts/DMSans-Light.ttf");
}

@font-face {
  font-family: "DmSansMedium";
  src: url("/src/assets/fonts/DMSans-Medium.ttf");
}

@font-face {
  font-family: "DmSansSemiBold";
  src: url("/src/assets/fonts/DMSans-SemiBold.ttf");
}

@font-face {
  font-family: "DmSansSemiBoldItalic";
  src: url("/src/assets/fonts/DMSans-SemiBoldItalic.ttf");
}

@font-face {
  font-family: "BricolageBold";
  src: url("/src/assets/fonts/BricolageGrotesque-Bold.ttf");
}

@import "tailwindcss";


@theme {
  --font-dm-bold: "DmSansBold", sans-serif;
  --font-dm-light: "DmSansLight", sans-serif;
  --font-dm-medium: "DmSansMedium", sans-serif;
  --font-dm-semibold: "DmSansSemiBold", sans-serif;
  --font-dm-semibold-italic: "DmSansSemiBoldItalic", sans-serif;
  --font-dm-bricolage-bold: "BricolageBold", sans-serif;

  --color-neutral-900: hsl(243, 96%, 9%);
  --color-neutral-800: hsl(243, 27%, 20%);
  --color-neutral-700: hsl(243, 23%, 24%);
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-0: hsl(0, 0%, 100%);

  --color-orange-500: hsl(28, 100%, 52%);
  --color-blue-500: hsl(233, 67%, 56%);
  --color-blue-700: hsl(248, 70%, 36%);
}
